.DoctorCard {
  width: 390px;
  height: 434px;
  background: #07182E;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.DoctorCard:hover{
  cursor: pointer;
}

.DoctorCard h2 {
  z-index: 1;
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  padding: 30px;
}


.DoctorCard p {
  z-index: 1;
  color: white;
  font-size: 1.5em;
  margin: 10px;
  padding-left: 10px;
  text-align: left;
  border-top: 4px solid rgb(255, 255, 255);
  padding-top: 20px;
  width: 100%;
}

.DoctorCard p:first-child {
  border-top: none;
}



.DoctorCard::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 229, 255), rgb(214, 48, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.DoctorCard::after {
  content: '';
  position: absolute;
  background: #07182E;
  inset: 7px;
  border-radius: 15px;
}  

.DoctorCard:hover:before {
  background-image: linear-gradient(180deg, rgb(204, 255, 21), rgb(48, 238, 255));
  animation: rotBGimg 3.5s linear infinite;
}



